body {
	color: #BFBFBF;
	background: #8C8C8C url('../valks-v-white.png');
	background-size: 90px 55px;
}

#banner {
	display: block;
	position: static;
	height: 150px;
	text-align: center;
	background: rgba(64,64,64, 0.9);
	border-radius: 5px;
	margin-right: 10px;
}

#bannertext {
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	margin: auto auto auto -50px;
}

#bannertext h1 {
	line-height: 46px;
	font-size: 58px;
	color: #BE1E2D;
	margin-bottom: 5px;
}

#bannertext h2 {
	line-height: 23px;
	font-size: 25px;
}

#menu_button {
	float: left;
	display: inline-block;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
    line-height: 23px;
    margin: auto;
    padding: 15px 0 0 15px;
}

#imgcontainer {
	float: right;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	height: 150px;
	width: 200px;
	position: relative;
	margin-right: 30px;
}

#imgcontainer img {
	width: 70%;
	padding-top: 25px;
}

#menubar {
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
    line-height: 23px;
    margin: auto;
	display: none;
	position: absolute;
	z-index: 30;
	top: 25px;
	background-color: rgba(64,64,64, 0.1);
	margin-left: 100px;
}

#menubar ul {
	list-style-type: none;
	padding: 0;
	display: table-cell;
}

#introtext {
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
    line-height: 23px;
	float: left;
	text-align: center;
    width: 78%;
    position: absolute;
    z-index: 20;
    background-color: #404040;
    opacity: 0.7;
    margin: 10px auto;
    border-radius: 10px;
    padding-left: 5px;
}

#teamphotos {
	position: relative;
	height: 550px;
	width: 79%;
	float: left;
	margin: 10px auto;
	border-radius: 10px;
}

#teamphotos img {
	position: absolute;
	top: 0; 
	z-index: 8;
	width: 100%;
	height: ;
	border-radius: 10px;
	max-height: 800px;
}

#teamphotos img.active {
	z-index: 10;
}

#teamphotos img.last-active {
	z-index: 9;
}

#socialmedia {
	display: inline-block;
	width: 20%;
	float: right;
	margin-top: 10px;
	overflow: hidden;
}

#fbfeed {
	overflow: hidden;
}

._1drm {
	border-radius: 5px 5px 0 0;
}
