body {
	color: #BFBFBF;
	background-color: #404040;
}

#banner {
	background-color: #BE1E2D;
	position: static;
	height: 150px;
	text-align: center;
}

#bannertext {
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	margin: auto -50px auto 50px;
}

#bannertext h1 {
	line-height: 46px;
	font-size: 43px;
}

#bannertext h2 {
	line-height: 23px;
	font-size: 21px;
}

#banner p {
	float: left;
	display: inline-block;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
    line-height: 23px;
    margin: auto;
    padding: 60px 0 0 15px;
}

#imgcontainer {
	float: right;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	height: 150px;
	width: 200px;
	position: relative;
	margin-right: 30px;
}

#imgcontainer img {
	width: 70%;
	padding-top: 25px;
}

#menubar {
	visibility: visible;
	list-style-type: none;
	margin-left: -200px;
	position: absolute;
	z-index: -1;
}

#introtext {
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
    line-height: 23px;
    margin: 10px auto;
    text-align: center;
    width: 80%;
}

#teamphotos {
	position: relative;
	height: 550px;
	width: 70%;
	float: left;
}

#teamphotos img {
	position: absolute;
	top: 0; 
	z-index: 8;
	width: 100%;
}

#teamphotos img.active {
	z-index: 10;
}

#teamphotos img.last-active {
	z-index: 9;
}

#socialmedia {
	display: inline-block;
	width: 25%;
	float: right;
}