.parent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 700px;
	width: 95%;
	background: rgba(64,64,64, 0.9);
	border-radius: 5px;
	margin: 30px auto;
	font-family: 'Cantarell', sans-serif;
	font-size: 25px;
    line-height: 23px;
}

.innertext {
	height: 80%;
	width: 50%;
	margin: auto auto;
	background-color: rgba(191,191,191, 0.75);
	color: #BE1E2D;
	border-radius: 5px;
	position: relative;
	text-align: center;
}

.innertext p {
	padding: 50px 100px;
}

#aboutustext {
	width: 65%;
}

#aboutustext p {
	padding: 5px 100px 5px 100px;
}
